@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

header{
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 5px 32px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

header h1{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Alkalami', serif;
}